$default-text-color: #fff;
$nav-background-color: #24292e!important;

$btn-custom-border-color: #e1e4e8;

$form-control-bkgnd-color:  hsla(0,0%,100%,.125);
$form-control-txt-color: hsla(0,0%,100%,.7);

$dropdown-item-txt-color: #586069;
$dropdown-a-hover-color: rgba(255,255,255,.75);
$dropdown-item-hover-color: #0366d6;